body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #E30613;
    color: white;
    padding: 1em;
    text-align: center;
}
main {
    padding: 1em;
}
footer {
    background-color: #E30613;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}



.center-container button {
    background-color: #333;
    color: white;
    border: none;
    padding: 1em 2em;
    margin-top: 0.5em;
    cursor: pointer;
    border-radius: 4px;
}

.center-container button:hover {
    background-color: #555;
}

.add-task-btn {
    background-color: #333;
    color: black;
    border: none;
    padding: 1em 2em;
    margin-top: 0.5em;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.add-task-btn:hover {
    background-color: #555;
}

.image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}