{% extends "base.html" %}

{% block title %}Modifier une tâche{% endblock %}

{% block content %}
<h1>Modifier une tâche</h1>
<form method="POST">
    <label for="title">Titre du ticket:</label>
    <input type="text" name="title" id="title" value="{{ ticket.title }}" required>

    <label for="name">Nom de la tâche:</label>
    <input type="text" name="name" id="name" value="{{ task.name }}" required>
    <label for="task">Description de la tâche:</label>
    <input type="text" name="task" id="task" value="{{ task.task }}" required>
    <label for="users">Utilisateurs:</label>
    <table>
        <thead>
            <tr>
                <th>Case à cocher</th>
                <th>Nom</th>
                <th>Sous-tâche</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td><input type="checkbox" name="users" value="{{ user.id }}" {% if user in task.users %}checked{% endif %}></td>
                <td>{{ user.first_name }} {{ user.last_name }} - {{ user.class_name }}</td>
                <td><input type="text" name="subtasks_{{ user.id }}" placeholder="Nom de la sous-tâche,Progression initiale"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit">Modifier</button>
</form>
<form method="POST" action="{{ url_for('delete', id=task.id) }}">
    <button type="submit">Supprimer</button>
</form>
{% endblock %}
