{% extends "base.html" %}

{% block title %}Liste des tâches en direct{% endblock %}

{% block content %}
<link href="../static/css/live.css" rel="stylesheet" />
<script>
    let previousTasks = [];

    function fetchTasks() {
        fetch('/tasks')
            .then(response => response.json())
            .then(data => {
                const tasksList = document.getElementById('tasks-list');
                const completedTasksList = document.getElementById('completed-tasks-list');
                tasksList.innerHTML = '';
                completedTasksList.innerHTML = '';
                data.forEach(task => {
                    const li = document.createElement('li');
                    const createdAt = new Date(task.created_at).toLocaleDateString();
                    li.innerHTML = `<span>${task.name} - ${task.task}</span><span class="task-details">${task.progress}% - Code: ${task.code} - Créé le: ${createdAt}</span>`;
                    if (task.progress == 100) {
                        li.classList.add('completed');
                        completedTasksList.appendChild(li);
                    } else {
                        li.classList.add('in-progress');
                        li.style.setProperty('--progress', `${task.progress}%`);
                        tasksList.appendChild(li);
                    }
                });

                previousTasks = data;
            });
    }

    setInterval(fetchTasks, 5000); // Mettre à jour toutes les 5 secondes
    window.onload = fetchTasks; // Charger les tâches au chargement de la page
</script>

<h1>Liste des tâches en direct</h1>
<ul id="tasks-list">
    <!-- Les tâches seront insérées ici par JavaScript -->
</ul>
<h2>Tâches complétées</h2>
<ul id="completed-tasks-list">
    <!-- Les tâches complétées seront insérées ici par JavaScript -->
</ul>
<img src="{{ url_for('static', filename='qr_code.png') }}" alt="QR Code" class="qr-code">
{% endblock %}
